:root{
    /* Colors are from light to dark */
     --scuBaseColor0:#cb1f21;
     --scuBaseColor1:#b30738;
     --scuBaseColor2:#862633;
     --black0:rgb(50, 50, 50);
     --black1:rgb(40, 40, 40);
     --black2:rgb(35, 35, 35);
     --black3:rgb(30, 30, 30);
     --gray0:rgb(100, 100, 100);
     --gray1:rgb(70, 70, 70);
}
 body {
     color: #DDD;
     background-color: var(--black2);
    /* font-family: Helvetica, arial, sans-serif;
     */
     font-family: 'Montserrat', sans-serif;
     -webkit-touch-callout: none;
    /* iOS Safari */
     -webkit-user-select: none;
    /* Safari */
     -ms-user-select: none;
    /* Internet Explorer/Edge */
     user-select: none;
    /* Non-prefixed version */
     cursor: default;
    /*noinspection CssInvalidFunction*/
     padding-bottom: env(safe-area-inset-bottom);
}
/* h1, h2, h3, h4, h5, h6 {
     font-family: 'Alata', sans-serif;
}
 */
 .borderBottomTitle{
     border-bottom: 1px solid var(--black0);
     width: fit-content;
     padding-bottom:0.2em 
}
 hr{
     border-radius: 10px;
     border: 1px solid var(--black0);
}
 .logoContainer h2{
    font-size:1.2em
}
 header{
     padding: 0.5em 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
 p{
    color: var(--gray0);
}
 a{
    color: var(--gray0);
}
 .container {
     border-radius: 10px;
     border: 2px solid var(--black0);
     background-color:var(--black1);
     box-shadow:0px 1px 15px var(--black3);
     padding: 1em;
}
 .flexCenter{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 1.5em;
}
 .logoContainer{
     display: flex;
     align-items: center;
     justify-content: left;
     gap: 1em;
}
 .scuRedButton{
     color: #fff;
     background-color: var(--scuBaseColor1);
     border: 1px solid var(--scuBaseColor3);
}
 .grayButton{
     color: #fff;
     background-color: var(--gray1);
     border: 1px solid var(--black1);
}
 button{
     cursor:pointer;
     padding: 0.5em 1em;
     border-radius:5px;
     width:fit-content;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 0.8em;
     gap: 0.5em;
     text-decoration: none;
     box-shadow:0px 5px 5px var(--black2);
     transition:0.2s;
}
 .buttonLink{
     padding: 0.5em 1em;
     border-radius:5px;
     width:fit-content;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 0.5em;
     background-color: var(--scuBaseColor1);
     color: #fff;
     text-decoration: none;
     border: 1px solid var(--scuBaseColor3);
     box-shadow:0px 5px 5px var(--black2);
     transition:0.2s;
}
 button:hover, .buttonLink:hover{
     transform: translateY(-2px);
     box-shadow:0px 5px 5px var(--black3);
}
 .alertBanner{
     color: #fff;
     background-color: var(--scuBaseColor1);
     border: 2px solid var(--scuBaseColor1);
     box-shadow: 0px 2px 10px var(--black3);
     padding: 1em;
     border-radius:7px;
}
/* Media Queries */
 @media only screen and (min-width: 300px) {
    main {
        margin: 0 5%;
    }
}
 @media only screen and (min-width: 700px) {
    main {
        margin: 0 15%;
    }
}
 @media only screen and (min-width: 1200px) {
    main {
        margin: 0 25%;
    }
}
/* OLD STYLES */
 #guild-icon {
     display: block;
}
 .role {
     color: #FFF;
     display: inline-block;
     padding: 3px 8px 1px 8px;
     margin-right: 2px;
     margin-bottom: 5px;
     border: 1px solid red;
     border-radius: 5px;
}
 #controls {
     display:flex;
     align-items: center;
     justify-content: center;
     gap: 0.5em;
}
 #avatar-icon {
     border-radius: 50px;
}
 #username{
     margin:0 
}
 #user-block{
     display: flex;
     align-items: center;
     width: fit-content;
     gap: 0.5em;
     padding: 0.5em 0.8em;
    /* background-color: var(--black1);
     border: 2px solid var(--black0);
     */
     border-radius: 10px;
}
 #user-block:hover {
     cursor: pointer;
}
 .loadingContainer{
     text-align:center;
}
 .loadingContainer,details{
     border-radius: 10px;
     background-color:var(--black0);
    /* box-shadow:0px 1px 15px var(--black3);
     */
     padding: 1em;
     margin-bottom: 0.5em;
}
 summary{
     cursor: pointer;
}